body {
  font-family: 'Roboto Condensed', sans-serif;
	background-color: #315481;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
}
.navbar-default .navbar-brand{
  color: #333;
}
#login-dropdown-list a{
  color: #3498db;
  font-size: 18px;
}
.selected {
  background-color: yellow;
}

.player {
	padding-bottom: 5px;
}

.container {
  background-color: #ecf0f1;
  margin-top: 5%;

}
.submit {
	border-radius: 5px;
}

.points {
  margin: 15px 0 10px 0;

}
ol li.list-group-item { 
    list-style: decimal inside;
    display: list-item;
}
.form-inline {
  margin-bottom: 20px;
}

